#info-panel {
    margin:auto;
    margin-bottom:0px;
    margin-top:0px;
    padding:0px;
    background-color:rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    z-index:1600 !important;
}

.info-title {
    font-weight: bold;
}

#info {
    color:#5A5A5A; 
}
